- var filtersData = [{name: "buds", content: "Buds", isChecked: true, isDisabled: false}, {name: "edible", content: "Edible", isChecked: false, isDisabled: false}, {name: "non-edible", content: "Non Edible", isChecked: false, isDisabled: false}, {name: "concentrate", content: "Concentrate", isChecked: false, isDisabled: false},];

mixin filter(name, content, isChecked, isDisabled)
  label.check-btn
    input(
      type="checkbox",
      name="type",
      value=name,
      checked=isChecked,
      disabled=isDisabled
      ).visually-hidden.check-btn__input
    span.check-btn__body
      svg(
        width="20",
        height="20",
        aria-hidden="true"
      ).check-btn__icon
        use(href="./img/sprite.svg#leaf")
      span.check-btn__label= content


